body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header{
    color: white;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 90vw;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

#main{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#landingTxt{
    font-size: 3em;
    padding-top: 6em;
}

#shopName{
    font-size: 3em;
    color: lightpink;
}

#navBar{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

a, a:visited, a:active {
    color: inherit;
}

#footer{
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0.5em;
	justify-content: center;
    align-items: center;
    gap: 1em;
}

#gitHubIcon{
    font-size: 4em;
}

#attributeContainer{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.attribute{
    font-size: 0.8em;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productPage{
    display: flex;
    width: 1150px;
    height: 75vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
    gap: 1em;
}

.products{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    background: rgba(255, 255, 255, 0.2);
}

.btn{
    border-radius: 10%;
    border: 0px;
    height: 1.4em;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.btn:active{
    border: #BA7CF1 2px solid;
    background: rgba(186, 124, 241, 0.4);
}

#cartPage{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 75vh;
    overflow-y: auto;
}

#emptyCartTxt{
    padding-top: 1em;
    font-size: 1.3em;
    text-align: center;
}

#cartHeader{
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
}

#cartItemHeader{
    position: relative;
    left: 5.5em;
}

#cartPriceHeader{
    position: relative;
    left: 4.5em;
}

#cartQuantityHeader{
    position: relative;
    right: 2.1em;
}

.cart{
    display: flex;
    height: 50px;
    width: 450px;

    justify-content: space-around;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background: rgba(255, 255, 255, 0.2);
}

.cartDescription{
    width: 150px;
}

.large{
    width: 100px;
    height: 100px;
}

.small{
    width: 50px;
    height: 50px;
}

#cartSpacer{
    margin-top: 1em;
    background: purple;
    height: 0.25em;
}

#cartTotalPrice{
    display: flex;
    justify-content: space-between;
}

#totalPriceText{
    position: relative;
    left: 8em;
}

#cartPriceValue{
    position: relative;
    left: 1.9em;
}

#totalQty{
    position: relative;
    right: 7.5em;
}

#backgroundImg{
    position: absolute;
    left: 0%;
    object-fit: cover;
    background-attachment: scroll;
    background-position:center; 
    background-size:cover; 
    background-repeat:no-repeat;
    width: 100vw;
    height: 90vh;
    z-index: -5;
}

@media (max-width: 1200px){
    #productPage{
        width: 800px;
    }
}

@media (max-width: 850px){
    #productPage{
        width: 550px;
    }
    #shopName{
        font-size: 2em;
    }
    .navLinks{
        font-size: smaller;
    }
    .products{
        width: 100px;
        height: 150px;
    }

    .large{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 550px){
    #productPage{
        width: 230px;
    }

    #navBar{
        flex-direction: column;
        gap: 0.5em;
    }

    .cart{
        width: 230px;
    }

    .cartDescription{
        display: none;
    }

    #cartItemHeader{
        left: 0.4em;
    }

    #cartPriceHeader{
        left: 0em;
    }

    #cartTotalPrice{
        justify-content: flex-start;
        gap: 0.8em;
    }

    #totalPriceText{
        left: 0em;;
    }

    #cartPriceValue{
        left: 0em;
    }

    #totalQty{
        left: 0em;
    }
}