body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header{
    color: white;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 90vw;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

#navBar{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

a, a:visited, a:active {
    color: inherit;
}

#footer{
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0.5em;
	justify-content: center;
    font-size: 4em;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productPage{
    display: flex;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    gap: 1em;
}

.products{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#cartPage{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
}

#cartHeader{
    display: flex;
    justify-content: space-around;
}

#cartItemHeader{
    position: relative;
    left: 7em;
}

#cartPriceHeader{
    position: relative;
    left: 7.9em;
}

#cartQuantityHeader{
    position: relative;
    left: 2.6em;
}

.cart{
    display: flex;
    height: 50px;
    width: 400px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.cartDescription{
    width: 150px;
}

.large{
    width: 100px;
    height: 100px;
}

.small{
    width: 50px;
    height: 50px;
}

#cartSpacer{
    margin-top: 1em;
    background: purple;
    height: 0.25em;
}

#cartTotalPrice{
    display: flex;
    justify-content: space-between;
}

#cartPriceValue{
    position: relative;
    right: 5.3em;
}
